.main {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
}
  
.banner {
  background: rgb(254,133,0);
  background: linear-gradient(90deg, rgba(254,133,0,0.1881127450980392) 0%, rgba(254,133,0,1) 22%, rgba(248,58,0,1) 100%);
}
