@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f2f2f2;
}

$base: #263238;
$lite: #fff;
$brand: #ff3d00;
$size: 48px;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.banner {
  background: rgb(254, 133, 0);
  background: linear-gradient(
    90deg,
    rgba(254, 133, 0, 0.1881127450980392) 0%,
    rgba(254, 133, 0, 1) 22%,
    rgba(248, 58, 0, 1) 100%
  );
}

.transload {
  animation: transload ease-in-out 1s infinite;
}

@keyframes transload {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(400px);
  }
}
